<div class="col-lg-12" >
    <div class="panel" style="background-color: #F7F7F7">

        <div class="panel-body">
            <label style="font-size: 20px; border-bottom: 2px solid; #3C5061;">Policy Builder </label>


            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">

                        <label>Enable Access to the following resources</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">

                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>

            <br>



            <!--////////////// ROw ONE  ////////////////////////////-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Web Server HTTP</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Mail Server Exchange</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <br>
            <!--////////////// ROw TWO  ////////////////////////////-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Web Server Secured (HTTPS)</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Mail Server IMAP</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <br>
            <!--////////////// ROw THREE  ////////////////////////////-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Client Access VPN</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Mail Server P0P3/SMTP</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <br>
            <!--////////////// ROw FOUR  ////////////////////////////-->

            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox">
                        </span>
                        <label class="form-control">Secure Shell (SSH)</label>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6">
                    <div class="input-group">
                        <label>Custom Config</label>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-default btn-sm">Advance</button>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <br>


            <div class="row">
                <div class="col-lg-6">

                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
                <div class="col-lg-6" style="float: right;">
                    <div class="input-group" style="float: right">
                        <button type="button" class="btn btn-sm" style="background-color:#3C5061; color: white;">Submit</button>&nbsp;&nbsp;&nbsp;
                        <button type="button" class="btn btn-sm" style="background-color:#3C5061; color: white;">Cancel</button>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /.col-lg-6 -->
            </div>
            <!-- /.row -->
            <br>


        </div>

    </div>
</div>