<style>

    .ammad {
    margin-bottom:10px;
    }

    .ammad2 {

    margin-top:10px;
    color:#3C5061;

    }


    .ml {
    margin-left:10px

    }

    .mb {
    margin-bottom:10px;
    }

    .mt {
    margin-top:10px;
    }

</style>


<div class="tab-pane fade active in" id="basic">
    <div class="row ml">


        <div class="input-group col-lg-4 mb mt">
            <span class="input-group-addon"><i class="fa fa-pencil fa-fw"></i></span>
            <input id="M-name" type="text" class="form-control" placeholder="Name">
        </div>


        <div class="input-group col-lg-4 mb">
            <span class="input-group-addon "><i class="fa fa-map-marker fa-fw"></i></span>
            <select id="M-location" class="form-control ammad">
                <option  disabled selected style='display:none;'>Location</option>
                <option>32 Avenue of the Americas</option>
                <option>2001 Sixth Avenue Seattle</option>
                <option>1411 I Street 12,645 SF</option>
            </select>
        </div>

        <div class="input-group col-lg-4 mb">
            <span class="input-group-addon"><i class="fa fa-certificate fa-fw"></i></span>
            <select id="M-provider" class="form-control ammad">
                <option  disabled selected style='display:none;'>Provider</option>
                <option>NGNware</option>
                <option>Juniper</option>
                <option>Cisco</option>
                <option>Microsoft</option>
                <option>Google</option>
            </select>
        </div>


    </div> <!--first row ends-->
</div>