

<style>

    .mb {
    margin-bottom:10px;
    }

    .mt {
    margin-top:10px;
    }

    .ml {
    margin-left:10px

    }

</style>







<div class="tab-pane fade" id="deployment">

    <!-- -->
    <div class="row ml">


        <div class="input-group col-lg-7 mb mt">
            <span style="width:35%" class="input-group-addon ">High Availability</span>
            <select id="11" class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>Active/Active</option>
                <option>Active/Passive</option>


            </select>
        </div>
        <div class="input-group col-lg-7 mb">
            <span style="width:35%" class="input-group-addon ">Auto-Scaling</span>
            <select id="22"  class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>CPU Over-commit</option>
                <option>Network Bandwidth</option>
                <option>CPU</option>
                <option>RAM</option>

            </select>
        </div>

        <div class="input-group col-lg-7 mb">
            <span style="width:35%" class="input-group-addon">Deep Analytics</span>
            <select id="33" class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>DPI</option>
                <option>NIC</option>
                <option>Ports</option>

            </select>
        </div>


    </div>


    <!---->


































</div>