
<style>

    .ml {
    margin-left:10px

    }

    .mb {
    margin-bottom:10px;
    }

    .mt {
    margin-top:10px;
    }

</style>

<div class="tab-pane fade" id="networking">


    <div class="row ml">


        <div class="input-group col-lg-7 mb mt">
            <span style="width:35%" class="input-group-addon ">Left Interface</span>
            <select id="M-li" class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>DMZ</option>
                <option>kq-be</option>
                <option>svc-vn-mgmt</option>

            </select>
        </div>
        <div class="input-group col-lg-7 mb">
            <span style="width:35%" class="input-group-addon ">Right Interface</span>
            <select id="M-ri"  class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>DMZ</option>
                <option>kq-be</option>
                <option>svc-vn-mgmt</option>

            </select>
        </div>

        <div class="input-group col-lg-7 mb">
            <span style="width:35%" class="input-group-addon">Management Interface</span>
            <select id="M-mi" class="form-control ammad">
                <option  disabled selected style='display:none;'>Select</option>
                <option>DMZ</option>
                <option>kq-be</option>
                <option>svc-vn-mgmt</option>

            </select>
        </div>


    </div> <!--first row ends-->
</div>

