

<div class="row">
    <div class="col-lg-12">
        <h2 style="text-align:center;font-size:36px;color:white;" class="page-header"><i style="font-size:28px;font-color:white" class="fa fa-bar-chart-o fa-desktop"></i>  Dashboard</h2>

    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">

    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Data Center Locations

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!--<canvas id="canvas2" height="450%" width="350%"></canvas>-->
                <div id="map-canvas" style="height:460px"></div>
            </div>
            <!-- /.panel-body -->
        </div>

    </div>

</div>





{% include "modal/modal.html" %}

























        </div>
    </div>
</div>



