<div class="row">
    <!--<div class="col-lg-12">-->
    <!--<h1 class="page-header"><i class="fa fa-cloud fa-fw"></i>Virtual Machines</h1>-->

    <!--</div>-->
</div>

<div class="row">
    <div class="col-lg-4">
        <!-- Small button group -->
        <div class="btn-group">
            <button class="btn btn-default btn-md dropdown-toggle" type="button" data-toggle="dropdown" >
                VMs/Page <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="text-align:center">
                <li id="vm20a">20 Virtual Machines</li>
                <li id="vm10a">10 Virtual Machines</li>
                <li id="vm5a">5 Virtual Machines </li>

            </ul>
        </div>
    </div>

    <div class="col-lg-4" style="float:right">
        <div class="input-group">
      <span class="input-group-btn">
        <button id="search" class="btn btn-default" type="button">Search!</button>
      </span>
            <input type="text" class="form-control">
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->



</div>
<hr>