
<div class='tab-pane fade ' id='connect'><!--First Tab Services -->
<div id='in'></div>

 <!--<div class='row a'>-->
 <!--<div class='col-lg-6'>-->
<!--<div class='input-group'>-->
  <!--<span class='input-group-addon'><input class='input1' type='checkbox' aria-label='...'></span>-->
  <!--<span style='width:32%' class='input-group-addon' id='basic-addon1'>@</span>-->
  <!--<input type='text' class='input3 form-control' placeholder='Username' aria-describedby='basic-addon1'>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<br>
<!--<div class='row a'><div class='col-lg-6'><div class='input-group'><span class='input-group-addon'><input type='checkbox' aria-label='...'></span><span class='input-group-addon' id='basic-addon1'>@</span><input type='text' class='form-control' placeholder='Username' aria-describedby='basic-addon1'></div></div></div>-->
<button id="connect-button" type="button" class="btn btn-primary">Connect</button>

</div>

<style> .a {margin-top:10px;} </style>
